@CHARSET "UTF-8";

#top{
	background-color : rgb(224, 224, 224, 0.13);
}

#top_contents{
	display : flex;
}

#board{
	margin-left : 26%;
	width : 165px;
}

#weather{
	width : 130px;
}

#time{
	margin-top : 0.8%;
	width : 150px;
}

#board h1{
	text-align : center;
}

#mapBoard{
	position : absolute;
	left : 29%;
	margin-top : 1%;
}

#vmap{
	width : 800px; 
	height : 350px;
}

/* 그래프 */
#graph{
	width : 360px; 
	height : 220px;
	background-color : rgb(224, 224, 224, 0.15);
	margin-left : 5%;
	margin-top : 2.5%;
	
}

/* body */
#boardBody{
	background-color : rgb(224, 224, 224, 0.13);
	width : 900px;
	height : 650px;
/* 	position : absolute; */
	margin-left : 26.5%;
	margin-top : 1.5%;
	
}

#pageBtn{
	text-align : center;
}

#selectList{
/* 	margin-top : 400px; */
	padding-top : 44%;
}

/* 왼쪽 보드 */
#leftBoard{
	background-color : rgb(224, 224, 224, 0.13);
	position : absolute;
	left : 0%;
	top : 10%;
	width : 400px; 
	height : 650px;
}
/* 오른쪽 보드 */
#rightBoard{
	background-color : rgb(224, 224, 224, 0.13);
	position : absolute;
	right : 0%;
	top : 10%;
	width : 400px; 
	height : 500px;
}

#select{
	margin-left : 5%;
	margin-top : 3%; 
	width : 50%;
	height : 10%;  
}